<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="$BLOG_MIMETYPE; charset=$BLOG_CHARSET" />

<title>$template_catarchives $NB_ArchiveTitle | $BLOG_TITLE</title>

<link rel="stylesheet" href="${BASE_URL}$BLOG_CSS" type="text/css" media="all" />
<link rel="stylesheet" href="${BASE_URL}styles/print.css" type="text/css" media="print" />
<link rel="shortcut icon" href="${BASE_URL}$BLOG_ICON" />
$NB_AtomAltLink
$NB_RSS2AltLink
$NB_RSSAltLink
</head>

<body>

<div id="banner">
<h1><a href="${BASE_URL}$NB_INDEX" accesskey="1">$BLOG_TITLE</a></h1>
<span class="description">$BLOG_DESCRIPTION</span>
</div><!-- /banner div -->

<div id="container">

	<div class="archives">

		<a id="top"></a>
		<h2>$template_catarchives $NB_ArchiveTitle</h2>
		<div id="menu">
			<a href="${BASE_URL}$NB_INDEX">$template_main</a> &#62;
			<a href="${BASE_URL}$ARCHIVES_DIR/$NB_INDEX">$template_archives</a> &#62;
			<br />
			$NB_ArchiveTitle
		</div>
		$NB_MetaBody
		<div class="menu">
			$NB_PageLinks
			<a href="#top">$NB_TopPage</a><br />
		</div>

	</div><!-- /archive div -->

</div><!-- /container div -->

</body>
</html>

